* {
  box-sizing: border-box;
}
.outerBlock {
  border: 5px solid blue;
}

.innerBlock {
  border: 5px solid red;padding: 10px;
  font-size: 2rem;
  }

.flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  }

.flexChild {

  }
  .child3 {
    margin-left: auto;
  }
  